<div class="container">
  <div class="user-info">
    <div class="text-center"
         ng-if="! vm.user.firstName">Not Signed Up Yet.&nbsp;&nbsp;&nbsp;&nbsp;<a ui-sref="public.signup" class="btn btn-warning">Sign up Now!</a></div>
    <table class="table" ng-if="vm.user.firstName">
      <tr>
        <th>First Name</th>
        <td ng-bind="vm.user.firstName"></td>
      </tr>
      <tr>
        <th>Last Name</th>
        <td ng-bind="vm.user.lastName"></td>
      </tr>
      <tr>
        <th>Emaile</th>
        <td ng-bind="vm.user.email"></td>
      </tr>
      <tr>
        <th>Phone Number</th>
        <td ng-bind="vm.user.phoneNumber"></td>
      </tr>
    </table>

    <table class="table" ng-if="vm.user.firstName">
      <thead>
        <tr>
          <th colspan="2" class="text-center">Favorite Dish</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Name</th>
          <td ng-bind="vm.favoriteDish.name"></td>
        </tr>
        <tr>
          <td colspan="2" class="text-center"><img ng-src="{{vm.favoriteDish.imageUrl}}" alt="{{vm.favoriteDish.name}}"></td>
        </tr>
        <tr>
          <th>Description</th>
          <td ng-bind="vm.favoriteDish.description"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>